{% extends "base.html" %} {% block css %} {% endblock %} {% block main %}
<div class="dashboard-header">
    <h1 class="display-5 fw-bold">Add Child</h1>
    <hr>
</div>

<div class="edit-form col-md-6">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    {{ form.first_name.label(class="form-label") }} {{ form.first_name(class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ form.last_name.label(class="form-label") }} {{ form.last_name(class="form-control") }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    {{ form.date_of_birth.label(class="form-label") }} {{ form.date_of_birth(class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ form.class_id.label(hidden = True) }}{{ form.class_id(class='form-control', value=4, hidden=True) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %} {% block js %} {% endblock %}