{% extends "base.html" %} {% block css %} {% endblock %} {% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">{{ student.first_name }} {{ student.last_name }}</h4>
                        </div>
                        {% if current_user.user_type == 1 %}
                        <div class="col">
                            <a href="{{ url_for('edit_student', id=student.id) }}" class="btn btn-primary float-right">Edit</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">Personal Information</h5>
                    <dl class="row">
                        <dt class="col-sm-3">Date of Birth:</dt>
                        <dd class="col-sm-9">{{ student.date_of_birth }}</dd>

                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">{{ student.email }}</dd>

                        <dt class="col-sm-3">Class:</dt>
                        <dd class="col-sm-9">{{ student.room.class_name }}</dd>

                        <dt class="col-sm-3">Parent:</dt>
                        <dd class="col-sm-9">{{ student.parent.user_profile.full_name }}</dd>

                        <dt class="col-sm-3">Status:</dt>
                        <dd class="col-sm-9">{{ "Active" if student.student_status else "Inactive" }}</dd>
                    </dl>
                    <div class="row">
                        <div class="col">
                            <h5 class="card-subtitle mb-2 mt-5 text-muted">Grades</h5>
                        </div>
                        {% if current_user.user_type == 2 %}
                        <div class="col" style="align-self: center;">
                            <a href="{{ url_for('edit_grades', id=student.id) }}" class="btn btn-primary float-right">Edit</a>
                        </div>
                        {% endif %}
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Subject</th>
                                <th scope="col">Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subjects %}
                            <tr>
                                <td>{{ subject.subject_name }}</td>
                                <td>{{ student.get_average_grade_for_subject(subject.id) }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {% endblock %}