{% extends "base.html" %} {% block css %}{% endblock %} {% block main %}
<div></div>
<h1 class="display-5 fw-bold">Welcome to the Step By Step Pre-School Management Portal</h1>
<p>This portal is for the registering of students and management of other information. For this demo many features have been reduced as to show functionality</p>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a href="{{ url_for('login') }}" class="btn btn-primary me-md-2" role="button">Login</a>
    <a href="{{ url_for('signup') }}" class="btn btn-secondary" role="button">Sign Up</a>
</div>
{% endblock %} {% block js %}{% endblock %}