{% extends "base.html" %} {% block css %} {% endblock %} {% block main %}
<div class="dashboard-header">
    <h1 class="display-5 fw-bold">Dashboard</h1>
    <h3 class="display-5 fw-italic">Hi, {{current_user.first_name}} {{current_user.last_name}}</h3>
    <hr>
    <p></p>
    <h3 class="display-5 fw-bold">Registered information</h3>
    <p>Email: {{pdata[0]['Parent_Data'].email}}</p>
    <p>Date of birth: {{pdata[0]['Parent_Data'].date_of_birth}}</p>
    <p>Number of registered children: {{count}}</p>

    {% if pdata[1]['Child_Data'] %}
    <table class="parent-student-table table table-striped table-hover">
        <thead class="thead-dark">

            <tr>
                <th>Child's Name</th>
                <th>Average</th>
                <th>Class</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for child in pdata[1]['Child_Data'] %}
            <tr>
                <td>{{ child.first_name }} {{ child.last_name }}</td>
                <td>{{ child.get_average_grade_for_subject(1) }}</td>
                <td>{{ child.room.class_name }}</td>
                <td>
                    <a href="{{ url_for('view_student_parent', id=child.id) }}" class=" btn btn-info ">View Child</a>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Currently no registered children</p>
    {% endif %}

    <div class="row mt-3">
        <div class="col-sm-6">
            <a href="{{ url_for('add_student_parent') }}" class="btn btn-primary">
                Add a child
            </a>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {% endblock %}