<nav class="navbar navbar-dark bg-dark sidebar-nav">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            {% if current_user.user_type == 2 %}
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('viewstudentparent') }}">Your Child</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
        </ul>
    </div>
</nav>